In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv')

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [25]:
X=data[['bathrooms','sqft_living','sqft_basement','bedrooms','sqft_lot','floors']]
y=data['price']

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [27]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [28]:
y_pred=regressor.predict(X_test)

In [15]:
df=pd.DataFrame({'Actual':y_test,'pedicted':y_pred})

ValueError: If using all scalar values, you must pass an index

In [29]:
y_pred

array([ 441808.26577288, 1271102.81842555,  415306.62888213, ...,
        567210.28159977,  382006.9928331 ,  312893.26882073])

In [30]:
y_test

17384     297000.0
722      1578000.0
2680      562100.0
18754     631500.0
14554     780000.0
16227     485000.0
6631      340000.0
19813     335606.0
3367      425000.0
21372     490000.0
3268      732000.0
20961     389700.0
21456     450000.0
3880      357000.0
17472     960000.0
7618      257000.0
1091      448000.0
1560      610000.0
8945      230950.0
8439      377500.0
13058     375000.0
12080     410000.0
7417      459000.0
3101      190000.0
18769     585000.0
7332      280000.0
19186     500000.0
11875     465000.0
14100     802000.0
10641     440000.0
           ...
5838      980000.0
17350     520000.0
17675     325000.0
3572      770000.0
16888     995000.0
21433     465750.0
18026     575000.0
6588      425000.0
11504     398500.0
530       270500.0
4897      310000.0
9185      190000.0
13245     492000.0
4264      235000.0
7673      765000.0
13167     530000.0
21174     525000.0
16924     226000.0
19310     624000.0
1916      500000.0
15231     467500.0
8210      203000.0
12860     446000.0
12947     206000.0
21490     529000.0
18588    1100000.0
6784      700000.0
14510     380000.0
18917     268000.0
11750     206000.0
Name: price, Length: 6484, dtype: float64

In [31]:
from sklearn import metrics

print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error:  168041.99384863995
Mean Squared Error:  67523987529.43962
Root Mean Squared Error:  259853.7810566543